{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	{{ page.body|richtext }}
   <!-- access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> -->

    <ul>
            	{% for category in categories %}
                	<li style="display: inline">
                    	{% image category.icon fill-32x32 style="vertical-align: middle" %}
                    	{{ category.name }}
                	</li>
            	{% endfor %}
        	</ul>
<div class="row center-align">
<div class="col s6 m3 l3">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    	{% static 'images/atv1.png' as atv %}
      <img class="activator" src="{{atv}}" />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ATV<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{% for tipo in page.get_children %}
      <p><a href="{% pageurl tipo %}">{{tipo.title}}</a></p>
      {% endfor %}</p>
    </div>
  </div>
 </div>

 <div class="col s6 m3 l3">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'images/roadster1.png' %}" width="100%" />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ROADSTER<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{% for tipo in page.get_children %}
      <p><a href="{% pageurl tipo %}">{{tipo.title}}</a></p>
      {% endfor %}</p>
    </div>
  </div>
 </div>

 <div class="col s6 m3 l3">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'images/ssv1.png' %}" width="100%" />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">SSV<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{% for tipo in page.get_children %}
      <p><a href="{% pageurl tipo %}">{{tipo.title}}</a></p>
      {% endfor %}</p>
    </div>
  </div>
 </div>

  <div class="col s6 m3 l3">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'images/seadoo1.png' %}" width="100%" />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">SEADOO<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{% for tipo in page.get_children %}
      <p><a href="{% pageurl tipo %}">{{tipo.title}}</a></p>
      {% endfor %}</p>
    </div>
  </div>
 </div>

 </div>
{% endblock %}
